.promotion {
    display: flex;
    margin: 15rem;
    gap: 3rem;

}
.promotion img {
    height: 80%;
    width: 40%;
    border-radius: 10px;
    -webkit-box-shadow: -4px -1px 31px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px -1px 31px -11px rgba(0,0,0,0.75);
    box-shadow: -4px -1px 31px -11px rgba(0,0,0,0.75);
}
.caption {
    margin-left: 7%;
    margin-top: 10%;
    text-align: center;
}
.caption h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.caption p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 1%;
  
}
.icons {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-wrap: wrap;
}
.con {
    margin: 6%;
    display: flex;
}
.icon {
    color:#004AAD ;
    margin-top: 2%;
    width: 20%;
    height: 80%;
}